{{ define "main" }}
<div class="page-container">
  <div>
    <h2>
      <a href="/"><b>Angel Simeonov</b></a><i style="opacity: 0.8;">'s blog</i></h1>
      <hr>
  </div>
        <div class="flex flex-col gap-6 text-base md:text-xl md:gap-6 lg:gap-7 xl:gap-8">
            <h1>{{ .Title }}</h1>

            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

            {{ .Content }}
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
</div>
{{ end }}
